/* Resetting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif; /* Setting a fallback font */
    background-color: #f0f0f0; /* Setting a light background color */
}


header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


header nav {
    display: flex; 
}

/* Hide the default checkbox */
.switch input[type="checkbox"] {
    display: none;
}

/* Style for the slider */
.switch .slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

/* Style for the slider knob */
.switch .slider:before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

/* Checked state - move the slider to the right */
.switch input[type="checkbox"]:checked + .slider:before {
    transform: translateX(30px);
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .switch .slider {
    background-color: #666;
}

.dark-mode .switch .slider:before {
    background-color: #070707;
}



.footer{
    position: fixed; 
    bottom: 0; 
    text-align: left; 
    padding: 5px;
    border: 2px solid black ; 
    height: 120px; 
    background-color: white; 
    width: 100%; 
}
.footer a{
    text-align: left;
    margin-top: 0px; 
    display: block; 
    text-decoration: none; 
    color: black; 
}

